.d2l-navigation-s-personal-menu-wrapper {
 color: white;
}

.d2l-branding-navigation-background-color {
  background-color: #3f3f3f;
}

d2l-navigation-main-header {
  background-color: black;
}

.d2l-page-main-padding {
  background-color: black;
  color: white;
}

.d2l-widget {
  background-color: #3f3f3f;
}

.d2l-body {
  background-color: black;
}

.d2l-collapsepane-content {
  background: #696969;
}

.d2l-datalist-outdent > .d2l-msg-container {
  background-color: black;
  border-color: black;
  color: white;
}

.daylight .d2l-collapsepane .d2l-collapsepane-header {
  background: #545454;
}

.vui-list > .vui-active {
  background-color: #a8a8a8;
}
