/* I consider several layer of "depths" with each it's own color.
Background/layer 0: black
Layer 1: #3f3f3f
Layer 2: #696969
Layer 3: #7e7e7e
Layer 3 active: #a8a8a8
*/

/* Color of name */
.d2l-navigation-s-personal-menu-wrapper {
 color: white;
}

/* Navigation bar */
.d2l-branding-navigation-background-color {
  background-color: #3f3f3f;
}

/* Section above navigation bar */
d2l-navigation-main-header {
  background-color: black;
}

/* Border of widget */ 
.d2l-widget {
  background-color: #3f3f3f;
}

/* General website color */
.d2l-body {
  background-color: black;
  color: white;
}

/* Aankondiging card */
.d2l-datalist-outdent > .d2l-msg-container {
  background-color: #696969;
  border-color: #696969;
  color: white;
}

/* Agenda header (aka the day or "Geplande gebeurtenissen"*/
.daylight .d2l-collapsepane .d2l-collapsepane-header {
  background: #545454;
  border-color: #545454;
}

/* Hover over gebeurtenis */
.vui-list > .vui-active {
  background-color: #a8a8a8;
}

/* Agenda list */
.daylight .d2l-collapsepane .d2l-collapsepane-content {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
}

/* Side padding in agenda */
.d2l-column-side-padding {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
}

.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
  background: black;
}

.d2l-textblock {
  color: white;
}


